In [4]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import pandas as pd

In [19]:
bike_df = pd.read_excel('/content/drive/MyDrive/DATA/RailsToTrails_National Count Data_week.xlsx')

In [20]:
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2022-12-30,167679,183546,NaN,0.09,1.094627,NaN,NaN,NaN
1,Week 2,2022-01-06,82340,97140,NaN,0.18,117.974253,NaN,NaN,NaN
2,Week 3,2022-01-13,62315,75782,NaN,0.22,121.611169,NaN,NaN,NaN
3,Week 4,2022-01-20,75801,83809,NaN,0.11,110.564504,NaN,NaN,NaN
4,Week 5,2022-01-27,75841,94738,NaN,0.25,124.916602,NaN,NaN,NaN

In [22]:
date_filter = bike_df['Week of'] > '2020-July-31'
bike_df[date_filter].head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2022-12-30,167679,183546,NaN,0.09,1.094627,NaN,NaN,NaN
1,Week 2,2022-01-06,82340,97140,NaN,0.18,117.974253,NaN,NaN,NaN
2,Week 3,2022-01-13,62315,75782,NaN,0.22,121.611169,NaN,NaN,NaN
3,Week 4,2022-01-20,75801,83809,NaN,0.11,110.564504,NaN,NaN,NaN
4,Week 5,2022-01-27,75841,94738,NaN,0.25,124.916602,NaN,NaN,NaN

In [23]:
count_filter = bike_df['Change 2019-2020'] > 1
bike_df[count_filter].head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
7,Week 8,2022-02-17,69492,149876,NaN,1.16,215.673747,NaN,NaN,NaN
11,Week 12,2022-03-16,125440,367795,NaN,1.93,293.203922,NaN,NaN,NaN
12,Week 13,2022-03-23,136330,372783,NaN,1.73,273.441649,NaN,NaN,NaN
13,Week 14,2022-03-30,118784,280728,NaN,1.36,236.334860,NaN,NaN,NaN
14,Week 15,2022-04-06,132033,419160,NaN,2.17,317.466088,NaN,NaN,NaN

In [24]:
bike_df[date_filter & count_filter].head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
7,Week 8,2022-02-17,69492,149876,NaN,1.16,215.673747,NaN,NaN,NaN
11,Week 12,2022-03-16,125440,367795,NaN,1.93,293.203922,NaN,NaN,NaN
12,Week 13,2022-03-23,136330,372783,NaN,1.73,273.441649,NaN,NaN,NaN
13,Week 14,2022-03-30,118784,280728,NaN,1.36,236.334860,NaN,NaN,NaN
14,Week 15,2022-04-06,132033,419160,NaN,2.17,317.466088,NaN,NaN,NaN